
body,html {
	position: relative;
	height: 98.4%;
}

body {
	background-color: #A7C6D3;
}

h1,h2,h3 {
	margin: 0px 2px;
	font-family: sans-serif;
	

}

p {
	text-align: center;
	margin-bottom: 10px;
}

.contrast {
	color: hsla(320, 100%, 40%, 1);
}
.title {
	font-family: sans-serif;
	font-weight: bold;
}
#myAudio {
	/*position:  absolute;*/
}

.ultradetail  {
	color: grey;
	font-style: italic;
	font-size: 50%;
}

.label {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 80%;
	width: 10%;
}

.slider {
	position: relative;
	appearance: slider-horizontal;
    color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
	width: 99%;
}

.slider-cell {
	position: relative;
	min-width: 70%;
}
.slider-val {
	position: absolute;
	top: -3px;
	color: grey;
	font-style: italic;
	font-size: 50%;
}

#app {
	position: relative;
	overflow: hidden;
	display: flex;
	flex:1;
	flex-direction: column;
}


#main-column {	
	margin: 25px auto 0 auto;
	right: 10%;
	top: 10%;
	border-radius: 15px 15px 0 0;
	background-color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);
	width: 800px;
	
	display: flex;
	flex-direction: column;
	text-align: center;
}

#input-modal {
	position: absolute;
	z-index: 1000;
	background-color: #A7C6D3;
	width: 100%;
	height: 100%;
	padding: 25px;
	vertical-align: middle;
}

.btn-group {
	margin-bottom: 10px;
}

button.toggled {
	background-color: grey;
}

#controls {
	left: 10%;
	top: 10%;
	margin: auto;
	padding: 15px;


	border-radius: 0 0 15px 15px;
	background-color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);
	width: 800px;
}

.handsfree-debugger {
	top: 200px;
	position: absolute;
	width:240px;
}
